<div class="card-section-area py-20">
    <div class="container mx-auto ">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for card in page.card-section.cards %} 
            <div class="card-item-wrapper p-6 w-full" style="background-color:{{ card.color }}">
                <div class="card-item-title">
                  <h4 class="text-white text-xl font-bold pb-3">{{ card.title }}</h4>
                </div>
                <div class="card-item-content">
                     <p class="card-item-conten-text text-white  pb-6">{{ card.description }}</p>
                    <a href="{{ card.url }}" class="rounded card-item-link inline-block text-white border px-4 py-2 border-white">Read More</a>
                </div> 
            </div>
            {% endfor %}
        </div>
        </div>
</div>

