<header class="css-1vcn2qd e1h2w6rn3">
   <div class="css-plp867 e1h2w6rn2">
      <a href="https://www.urban.org/" target="_blank" class="css-2mq80b e1h2w6rn1">
         <svg aria-label="Urban Institute" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 90">
            <g clip-path="url(#a)">
               <path d="M80 21.497v27.117c0 3.363-.508 6.26-1.525 8.692a16.047 16.047 0 0 1-4.307 6.046 17.722 17.722 0 0 1-6.72 3.559 33.777 33.777 0 0 1-17.527 0 17.696 17.696 0 0 1-6.72-3.56 15.998 15.998 0 0 1-4.303-6.045c-1.02-2.432-1.53-5.329-1.53-8.692V21.497h16.737v25.532c0 .894.03 1.746.089 2.557a6.38 6.38 0 0 0 .52 2.158c.288.625.77 1.143 1.373 1.478a6.439 6.439 0 0 0 5.198 0 3.251 3.251 0 0 0 1.374-1.478 6.382 6.382 0 0 0 .52-2.158c.059-.808.089-1.66.089-2.557V21.497H80z" fill="#1A96D2"></path>
               <path d="M3.94 68.481H0v-3.924h3.94v3.924zM22.803 68.481H18.86v-3.924h3.943v3.924zM3.94 25.443H0V21.52h3.94v3.924zM22.803 25.443H18.86V21.52h3.943v3.924zM3.94 46.962H0v-3.924h3.94v3.925zM22.803 46.962H18.86v-3.924h3.943v3.925zM3.943 0v3.92H0V0h3.943zM22.8 0v3.92h-3.94V0h3.94zM41.845 0v3.92h-3.94V0h3.94zM60.798 0v3.92H56.86V0h3.94zM79.751 0v3.92h-3.939V0h3.94zM3.943 86.075V90H0v-3.925h3.943zM22.8 86.075V90h-3.94v-3.925h3.94zM41.924 86.075V90H37.98v-3.925h3.943zM60.913 86.075V90H56.97v-3.925h3.943zM79.903 86.075V90H75.96v-3.925h3.943z" fill="#9B9DA1"></path>
            </g>
            <defs>
               <clipPath id="a">
                  <path fill="#fff" d="M0 0h80v90H0z"></path>
               </clipPath>
            </defs>
         </svg>
      </a>
      <a href="http://nonprofitdataproject.org/" class="css-igx1pk e1h2w6rn0"><span>Nonprofit </span>Data Project</a>
      <div class="css-3g107n eibgerf4">
         <button aria-label="Menu" type="button" class="css-1j8exzv e110ux8g1"><span class="css-1r1jy9b e110ux8g0"></span></button>
         <nav class="css-lk9fmk eibgerf3">
            <ul class="css-z06qs eibgerf2">

    {% for link in site.navbar %}

        <li class="css-zpgvaa eibgerf1"><a href="{{ link.url }}" class="css-tnbhle eibgerf0"> {{ link.title }} </a></li>

    {% endfor %}

        <li class="css-zpgvaa eibgerf1">
           <a href="https://github.com/{{ site.github.username }}/{{ site.github.reponame }}/edit/main/{{page.path}}" target = "_blank">
           <i class="fa fa-github x3" id="github_icon"></i></a>
        </li>


               <!-- <li class="css-zpgvaa eibgerf1"><a href="/data-explorer/explorer" class="css-tnbhle eibgerf0">Data Tool</a></li> -->
               <!-- <li class="css-zpgvaa eibgerf1"><a href="https://educationdata.urban.org/documentation/" class="css-tnbhle eibgerf0">Full API</a></li> -->
               <!-- <li class="css-zpgvaa eibgerf1"><a href="/data-explorer/about" class="css-tnbhle eibgerf0">About</a></li> -->
               <!-- <li class="css-zpgvaa eibgerf1"><a href="/data-explorer/contact" class="css-tnbhle eibgerf0">Contact Us</a></li> -->
               <!-- <li class="css-zpgvaa eibgerf1"><a href="/data-explorer/how-to" class="css-tnbhle eibgerf0">How To</a></li> -->



            </ul>
         </nav>
      </div>
   </div>
</header>
<br><br><br>
