---
layout: default
---
<!-- Header -->
<header class="masthead pagehead" {% if page.background_image %} style="background-image: {{ page.background_image }}"{% endif %} >
    <div class="pt-10">
      <div class="block  px-6">
          <h1 class="text-uppercase font-weight-bold">{{ page.title }}</h1>
          <hr class="divider my-4">
    </div>
      </div>
    </div>
  </header>
  
 
  
  <!-- include content as section -->
  {% assign content = content | strip_newlines %}
  {% if content != "" %}
  <section class="page-section}} pt-10 pb-20">
    <div class="container">
      {{ content }}
    </div>
  </section>
  {% endif %}
 

 

 